@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap");

:root {
  --font-primary: "Spartan", sans-serif;
  --font-secondary: "Antonio", sans-serif;
  --white: rgb(255, 255, 255);
  --transparent-white1: rgba(255, 255, 255, 0.1);
  --transparent-white2: rgba(255, 255, 255, 0.2);
  --transparent-white3: rgba(255, 255, 255, 0.5);
  --navy-blue: rgb(7, 7, 36);
  --dark-grey: rgb(56, 56, 79);
  --light-grey: rgb(131, 131, 145);
  --mercury: rgb(65, 158, 187);
  --nav-mercury: #def4fc;
  --venus: rgb(237, 162, 73);
  --nav-venus: #f7cc7f;
  --earth: rgb(109, 46, 213);
  --nav-earth: #545bfe;
  --mars: rgb(209, 76, 50);
  --nav-mars: #ff6a45;
  --jupiter: rgb(216, 58, 52);
  --nav-jupiter: #ecad7a;
  --saturn: rgb(205, 81, 32);
  --nav-saturn: #fccb6b;
  --uranus: rgb(30, 193, 162);
  --nav-uranus: #65f0d5;
  --neptune: rgb(45, 104, 240);
  --nav-neptune: #497efa;
}

.mercury {
  --image-width-mobile: 11.1rem;
  --image-width-tablet: 18.4rem;
  --image-width-desktop: 29rem;
  --theme-color: var(--mercury);
}

.venus {
  --image-width-mobile: 15.4rem;
  --image-width-tablet: 25.3rem;
  --image-width-desktop: 40rem;
  --theme-color: var(--venus);
}

.earth {
  --image-width-mobile: 17.3rem;
  --image-width-tablet: 28.5rem;
  --image-width-desktop: 45rem;
  --theme-color: var(--earth);
}

.mars {
  --image-width-mobile: 12.9rem;
  --image-width-tablet: 21.3rem;
  --image-width-desktop: 33.6rem;
  --theme-color: var(--mars);
}

.jupiter {
  --image-width-mobile: 22.4rem;
  --image-width-tablet: 36.9rem;
  --image-width-desktop: 58.2rem;
  --theme-color: var(--jupiter);
}

.saturn {
  --image-width-mobile: 25.6rem;
  --image-width-tablet: 42.2rem;
  --image-width-desktop: 66.609rem;
  --theme-color: var(--saturn);
}

.uranus {
  --image-width-mobile: 17.6rem;
  --image-width-tablet: 29rem;
  --image-width-desktop: 45.8rem;
  --theme-color: var(--uranus);
}

.neptune {
  --image-width-mobile: 17.3rem;
  --image-width-tablet: 28.5rem;
  --image-width-desktop: 45rem;
  --theme-color: var(--neptune);
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  background-color: var(--navy-blue);
  background-image: url("../public/assets/background-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
  font-family: var(--font-primary);
  font-weight: 400;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

img {
  display: block;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.4rem;
  border-bottom: 1px solid var(--transparent-white2);
}

.logo {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 3.6rem;
  letter-spacing: -1.05px;
  text-transform: uppercase;
}

.navigation-button {
  background-color: transparent;
  border: none;
}

.navigation {
  background-color: var(--navy-blue);
  position: fixed;
  top: 6.9rem;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  transform: translateX(100%);
  transition: 500ms ease-in-out;
  padding: 2.4rem 2.4rem 0;
}

.navigation.open {
  transform: translateX(0);
  transition: 500ms ease-in-out;
}

.nav-link {
  display: block;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  padding: 2rem 0 2rem 4.4rem;
  border-bottom: 1px solid var(--transparent-white1);
  position: relative;
  opacity: 0.75;
}

div:nth-child(8) .nav-link {
  border: none;
}

.nav-link::before {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 2.2rem;
  left: 0;
  z-index: 10;
}

div:nth-child(1) .nav-link::before {
  background-color: var(--nav-mercury);
}

div:nth-child(2) .nav-link::before {
  background-color: var(--nav-venus);
}

div:nth-child(3) .nav-link::before {
  background-color: var(--nav-earth);
}

div:nth-child(4) .nav-link::before {
  background-color: var(--nav-mars);
}

div:nth-child(5) .nav-link::before {
  background-color: var(--nav-jupiter);
}

div:nth-child(6) .nav-link::before {
  background-color: var(--nav-saturn);
}

div:nth-child(7) .nav-link::before {
  background-color: var(--nav-uranus);
}

div:nth-child(8) .nav-link::before {
  background-color: var(--nav-neptune);
}

.nav-link::after {
  content: "";
  width: 0.6rem;
  height: 0.8rem;
  background-image: url("../public/assets/icon-chevron.svg");
  position: absolute;
  right: 0;
  top: 2.8rem;
}

/* Main */

.page-title {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 4rem;
  line-height: 5.2rem;
  text-align: center;
  text-transform: uppercase;
}

.image-wrapper {
  width: 100%;
  height: 30.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-image {
  width: min(95%, var(--image-width-mobile));
}

.geology-image {
  position: absolute;
  width: 6.25rem;
  top: 62%;
  left: 43%;
}

.content-type-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--transparent-white2);
  padding: 2rem 2.4rem;
}

.content-type {
  color: var(--transparent-white3);
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  position: relative;
}

.content-type.active-content {
  font-weight: 700;
  color: var(--white);
}

.content-type.active-content::after {
  content: "";
  height: 0.4rem;
  width: 100%;
  border-bottom: 0.4rem solid var(--theme-color);
  position: absolute;
  bottom: -2.3rem;
  left: 0;
  right: 0;
  opacity: 1;
}

.text-content {
  width: min(87.2%, 32.7rem);
  margin: 0 auto;
}

.content {
  font-size: 1.1rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 1.6rem auto 3.2rem;
}

.source {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
  opacity: 0.5;
}

.source a {
  color: var(--white);
  font-weight: 700;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 2.8rem auto 4.7rem;
  width: min(87.2%, 32.7rem);
}

.stats-wrapper {
  border: 1px solid var(--transparent-white2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 2.4rem 1.3rem;
}

.stats-description {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.6rem;
  letter-spacing: 0.727273px;
  text-transform: uppercase;
  opacity: 0.5;
}

.stats-value {
  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.6rem;
  letter-spacing: -0.75px;
  text-transform: uppercase;
}

/* Media Queries */
@media screen and (max-width: 270px) {
  .content-type-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .stats-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 710px) {
  /* Header */
  .header {
    flex-direction: column;
    justify-content: center;
    padding: 3.2rem 5.2rem 2.7rem 5.1rem;
    gap: 3.9rem;
  }

  .header.open {
    position: static;
    background-color: transparent;
  }

  .navigation-button {
    display: none;
  }

  .navigation {
    background-color: transparent;
    position: static;
    padding: 0;
    transform: translateX(0);
    height: auto;
    width: auto;
  }

  .navigation form {
    display: flex;
    gap: 3.3rem;
  }

  .nav-link {
    padding: 0;
    border: none;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }

  .nav-link::before {
    content: none;
  }

  .nav-link::after {
    content: none;
  }
  /* Main */

  .main {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-inline: auto;
    width: 68.9rem;
    column-gap: 6.9rem;
  }

  .image-wrapper {
    height: 48.8rem;
    grid-column: span 2;
    grid-row: 1 / 2;
  }

  .text-content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
  }

  .content-type-wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: none;
    padding: 0;
    gap: 1.6rem;
    height: 25.3rem;
  }

  .main-image {
    width: var(--image-width-tablet);
  }

  .geology-image {
    width: 10.3rem;
  }

  .page-title {
    font-size: 4.8rem;
    line-height: 6.2rem;
    text-align: left;
  }

  .content-type {
    color: var(--white);
    display: block;
    font-size: 0.9rem;
    line-height: 2.5rem;
    letter-spacing: 1.92857px;
    width: 28.1rem;
    text-align: left;
    padding: 0.8rem 0 0.7rem 5rem;
    border: 1px solid var(--transparent-white2);
  }

  .content-type.active-content::after {
    content: none;
  }

  .content-type.active-content {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
  }

  div:nth-child(1) .content-type::before {
    content: "01";
    left: 2rem;
    opacity: 0.5;
    position: absolute;
  }

  div:nth-child(2) .content-type::before {
    content: "02";
  }

  div:nth-child(3) .content-type::before {
    content: "03";
  }

  .content {
    text-align: left;
    margin: 2.4rem auto 3.2rem;
  }

  .source {
    justify-content: flex-start;
  }

  .stats {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.1rem;
    margin: 2.7rem 0 3.6rem;
    width: 100%;
  }

  .stats-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.6rem;
    padding: 1.6rem 1.5rem 1.9rem;
  }

  .stats-value {
    font-size: 2.4rem;
    line-height: 3.1rem;
    letter-spacing: -0.9px;
  }
}

@media screen and (min-width: 1440px) {
  /* General Styles */
  .header {
    width: min(100%, 1440px);
    margin-inline: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.2rem 4rem 2.7rem 3.2rem;
    gap: 0;
  }

  .nav-link {
    position: relative;
    top: 0.5rem;
  }

  .nav-link:hover {
    cursor: pointer;
  }

  .nav-link:hover::after {
    content: "";
    height: 0.4rem;
    width: 100%;
    background-image: none;
    position: absolute;
    top: -3.4rem;
  }

  div:nth-child(1) .nav-link:hover::after {
    background-color: var(--mercury);
  }

  div:nth-child(2) .nav-link:hover::after {
    background-color: var(--venus);
  }

  div:nth-child(3) .nav-link:hover::after {
    background-color: var(--earth);
  }

  div:nth-child(4) .nav-link:hover::after {
    background-color: var(--mars);
  }

  div:nth-child(5) .nav-link:hover::after {
    background-color: var(--jupiter);
  }

  div:nth-child(6) .nav-link:hover::after {
    background-color: var(--saturn);
  }

  div:nth-child(7) .nav-link:hover::after {
    background-color: var(--uranus);
  }

  div:nth-child(8) .nav-link:hover::after {
    background-color: var(--neptune);
  }

  /* Main */
  .main {
    width: min(100%, 1440px);
    margin-inline: auto;
    grid-template-rows: repeat(4, auto);
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
  }

  .image-wrapper {
    height: 75.4rem;
    width: 92.5rem;
    padding-left: 3.5rem;
    padding-top: 2rem;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .main-image {
    width: min(95%, var(--image-width-desktop));
  }

  .geology-image {
    width: 16.3rem;
  }

  .text-content {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: auto;
  }

  .content-type-wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: auto;
    padding: 0 0 8.7rem 0;
  }

  .page-title {
    font-size: 8rem;
    line-height: 10.4rem;
    margin-top: 12.6rem;
  }

  .content {
    width: 35rem;
    height: 17.5rem;
    margin: 2.3rem 0 0;
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

  .content-type {
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 2.57143px;
    opacity: 1;
    width: 35rem;
    padding: 1.2rem 0 1.1rem 7.4rem;
  }

  .content-type:hover:not(.active-content) {
    background-color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    cursor: pointer;
  }

  div:nth-child(1) .content-type::before {
    left: 2.8rem;
    position: absolute;
  }

  .source {
    margin-bottom: 3.9rem;
    font-size: 1.4rem;
  }

  .stats {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 100%;
    margin: 0 0 5.6rem;
    padding-left: 16.5rem;
    gap: 3rem;
  }

  .stats-wrapper {
    gap: 0.4rem;
    padding: 2rem 2.3rem 2.7rem;
  }

  .stats-description {
    font-size: 1.1rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
  }

  .stats-value {
    font-size: 4rem;
    line-height: 5.2rem;
    letter-spacing: -1.5px;
  }
}
